body {
  background-color: #c2c5c7;
  margin-top: 100px;
}

.panel-group .panel {
	margin-bottom: 30px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0x;
	border: none;
}

.panel-default {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0x;
	border: none;
}

.panel-default > .panel-heading {
	background-color: #ffd807;
	background-image: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0x;
	border: none;
}
.panel-default > .panel-heading.row {
	margin-left: 0px;
	margin-right: 0px;
}

.panel-title {
	padding: 6px 0px;
	font-size: 24px;
}

.panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e082";
    float: right;
}

.panel-heading .accordion-toggle.collapsed:after {
    content: "\e081";
}